html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
img {
    width: 100%;
}
.header {
    margin-top: 53px;
}
.container {
    max-width: 1400px;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
}
.menu {
    display: flex;
    justify-content: space-between;
}
.menu img {
    width: 106px;
    height: 32px;
    margin-top: 11px;
}
.menu ul {
    width: 510px;
    height: 30px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 20px;
    color: #263238;
    list-style: none;
    margin-top: 15px;
}
.menu ul li {
}
.menu button {
    width: 220px;
    height: 70px;
    padding: 0;
    border: 2px solid #263238;
    border-radius: 5px;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    cursor: pointer;
    transition: 0.3s all;
}
.menu button:hover {
    opacity: 0.8;    
}
.content {
    max-width: 1348px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.content__left {
    max-width: 632px;
    padding-top: 7px;
}
.content__item {
    display: flex;
    justify-content: flex-start;
}
.content__item h1 {
    width: 386px;
    height: 240px;
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
    margin: 0;
    padding: 42px 0;
}
.content__item img {
    width: 105px;
    height: 105px;
    transform: rotate(8.deg);
    margin-top: 142px;
    margin-left: 43px;
}
.content p {
    max-width: 560px;
    height: 108px;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #8F95A5;
    margin: 0;
    margin-top: 75px;
}
.content button {
    width: 438px;
    height: 118px;
    background: #263238;
    border-radius: 15px;
    font-weight: 400;
    font-size: 37px;
    line-height: 64px;
    letter-spacing: 2px;
    color: #FFFFFF;
    padding: 0;
    margin-top: 60px;
    cursor: pointer;
    transition: 0.3s all;
}
.content button:hover {
    opacity: 0.8;    
}
.content__rigth {
    width: 661px;
    height: 661px;
    margin-left: 8px;
}
h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 80px;
    text-align: center;
}
@media screen and (max-width: 992px) {
    .content__rigth {
        width: 460px;
        height: 460px;
    }
}
.skills {
    padding: 60px 0;
}
.skills__grid {

}
.skills__grid-item {
    background-color:  #F5F5F5;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.skills__grid-image img {
    max-width: 100%;
}
.skills__grid-content {
}
.skills__grid-content h3 {
    font-weight: 600;
    font-size: 30px;
    color: #263238;  
    margin: 0;
}
.skills__grid-content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8F95A5;
    max-width: 380px;
    width: 100%;
    margin: 0;
}
.skills__grid-content button {
    height: 60px;
    background: #263238;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 2.6px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: 0.3s all;
}
.skills__grid-content button:hover {
    opacity: 0.8;
}
/* Элемент 1 */
.speaking {
    max-width: 435px;
    max-height: 894px;
    padding: 25px 17px;
}
.speaking img {
    margin-top: 10px;
}
.speak-h3 {
    padding: 14px 18px 0;
}
.speak-p {
    padding: 20px 18px;
}
.speak-bt {
    width: 230px;
    margin: 18px 18px 0;
}
/* Элемент 2 */
.writing {
    max-width: 434px;
    max-height: 531px;
    padding: 0 32px;
}
.writing img {
    width: 293px;
    height: 293px;
    position: relative;
    top: -5px;
    left: 91px;
}
.writ {
    position: relative;
    top: -57px;
    left: 9px;
}
.writ-h3 {
    padding-top: 25px;
}
.writ-p {
    padding-top: 8px;
}
.writ-bt {
    width: 218px;
    margin-top: 30px;
}
/* Элемент 3 */
.reading {
    max-width: 435px;
    max-height: 532px;
    padding: 0 30px;
}
.reading img {
    position: relative;
    top: 7px;
    left: -30px;
}
.read-h3 {
    padding: 15px 10px 0;
}
.read-p {
    padding: 5px 10px;
}
.read-bt {
    width: 218px;
    margin: 28px 12px;
}
/* Элемент 4 */
.listening {
    max-width: 885px;
    max-height: 343px;
    padding: 0 35px;
}
.listening img {
    position: relative;
    top: 3px;
    left: 12px;
}
.list-h3 {
    padding: 19px 15px 0;
}
.list-p {
    padding: 12px 15px 0;
}
.list-bt {
    width: 218px;
    margin: 23px 12px;
}
/* Grid */
.skills__grid {
    height: 895px;
    margin-top: 100px;
    display: grid;
    gap: 20px;
    grid-template-areas: "one two tree" "one four four";
    justify-content: space-evenly;
    align-items: stretch;
}
.speaking {
    grid-area: one;
}
.writing {
    grid-area: two;
}
.reading {
    grid-area: tree;
}
.listening {
    grid-area: four;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.listening .skills__grid-image {
    order: 1;
}
@media screen and (max-width: 575px) {
    .skills__grid {
        grid-template-areas: 
        "one two"
        "tree four";
    }
    .listening {
        display: block;
    }
}
@media screen and (max-width: 320px) {
    .skills__grid {
        grid-template-areas: 
        "one"
        "two"
        "tree"
        "four";
    }
}
.AboutUs {
}
.about {
    display: flex;
    justify-content: space-between;
    padding-top: 190px;
}
.about__left {
    width: 635px;
    padding-top: 32px;
}
.about__left-h2 {
    display: contents;
}
.about__left p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #8F95A5;
}
.item__about {
    width: 620px;
    display: flex;
    padding-top: 21px;
}
.item__about h2 {
    align-items: center;
    margin: 0;
}
.item__about p {
    margin: 0;
    text-align: center;
}
.first {
}
.twoo {
    padding-left: 145px;
}
.three {
    padding-left: 95px;
}
.about__rigth img {
    width: 500px;
    height: 500px;
    margin-right: 10px;
}
.pricing {
    padding-top: 142px;
}
.pricing__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}
.pricing__grid h3 {
    font-weight: 600;
    font-size: 30px;
    color: #263238;
    margin: 0;
    margin-top: 35px;
}
.pricing__grid p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #8F95A5;
    margin: 20px 0;
}
.pricing__grid button {
    width: 240px;
    height: 45px;
    background: #EEEEEE;
    border-radius: 5px;
    border: none;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    color: #263238;
    margin-top: 10px;
    letter-spacing: 2.0px;
    cursor: pointer;
}
.pricing__grid button span {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #546269;
}
.self img {
    width: 311px;
    height: 311px;
    margin: 18px 0 0 25px;
}
.classes img {
    width: 391px;
    height: 283px;
    margin: 42px 0 0 21px;
}
.classes h3 {
    margin: 0;
    padding: 36px 0 0 24px;
}
.classes p {
    padding: 6px 0 0 24px;
}
.classes button {
    margin: 35px 0 0 24px;
}
.personal img {
    width: 340px;
    height: 340px;
    margin: 18px 0 0 48px;
}
.personal h3 {
    margin: 0;
    padding-top: 4px;
}
.personal button {
    margin-top: 40px;
}
.personal {
}
.container1 {
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 251px;
}
.us {
    display: flex;
    justify-content: space-between;
}
.us img {
    width: 477px;
    height: 429px;
    margin: 9px 0 0 13px;
}
.contact__right {
    max-width: 800px;
}
.contact__right h2 {
    text-align: left;
}
.contact__right p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #8F95A5;
}
.contact__form {
    padding-top: 27px;
}
.contact__form1 {
    width: 450px;
    height: 80px;
    border: 1px solid #8F95A5;
    border-radius: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.6px;
    color: #8F95A5;
    padding-left: 33px;
}
.contact__form2 {
    width: 264px;
    height: 80px;
    background: #263238;
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    letter-spacing: 2.0px;
    cursor: pointer;
}
.line {
    margin-top: 131px;
    width: 1338px;
    height: 1px;
    background: #C4C4C4;
}
.britlex {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.britlex img {
    width: 106px;
    height: 27px;
    margin-top: 13px;
    margin-left: 3px;
}
.britlex p {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #8F95A5;
}